{% extends 'base.html.twig' %}

{% block body %}

    {#{{ dump(tapa) }}#}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="mt-4 mb-3">Tapa</h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid rounded mb-3 mb-md-0"{%- if tapa.picture|length > 0 -%} src="{{ asset( imgPath ~ tapa.picture) }}"
                {%- else -%} src="http://placehold.it/750x500" {%- endif %} alt="">
            </div>

            <div class="col-md-4">
                <h2 class="my-3">{{ tapa.name|raw }}</h2>
                <br>

                <h3 class="my-3">Category</h3>
                <p>{{ tapa.category.name }}</p>
                <br>

                <h3 class="my-3">Ingredients</h3>
                <ul>
                    {% for ingredient in tapa.ingredients %}
                        <li>{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-12">

                <br>
                <h3>Description</h3>
                <p>{{ tapa.description|raw }}</p>
            </div>
        </div>
        <!-- /.row -->
        <br>
        <hr>
        <!-- Random tapas Row -->
        <h3 class="my-4">Random tapas</h3>

        <div class="row">

            {% for relatedTapa in relatedTapas %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="{{ path('detail_tapa', {'id':relatedTapa.id}) }}">
                            <img class="random-imgs card-img-top" src="{{ asset( imgPath ~ relatedTapa.picture) }}"
                                 alt=""></a>
                        <div class="card-body">
                            <p class="card-text">{{ relatedTapa.name }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <!-- /.row -->
        <br>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        .random-imgs {
            height: 200px;
            width: 100%;
        }
    </style>
{% endblock %}