{% extends 'base.html.twig' %}

{% block title %}Tapas{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="my-4 mb-3">List tapas </h1>

        {% for tapa in tapas %}
            <div class="row">
                <div class="col-md-5">
                    <a href="{{ path('detail_tapa', {'id':tapa.id}) }}">
                        <img class="img-fluid rounded mb-3 mb-md-0" {% if tapa.picture|length > 0 %} src="{{ asset( imgPath ~ tapa.picture) }}"
                        {% else %} src="http://placehold.it/700x400"{% endif %} alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <a href="{{ path('detail_tapa', {'id':tapa.id}) }}"><h3>{{ tapa.name }}</h3></a>
                    <p>{{ tapa.description[0:700]|raw }}</p>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <br>
{% endblock %}

{% block stylesheets %}
    <style>
        .img-fluid {
            height: 300px;
            width: 100%;
        }
    </style>
{% endblock %}